{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h3>Adding part "{{ part_no }}" to inventory</h3>
        Please review criteria below for part specification
    </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <!--<div class="container">-->
    <form action="/add_part/{{ part_no }}" method='POST'>

        <div class="card border-0 shadow">
            <div class="card-header">
                Select part criteria
            </div>
            <div class="card-horizontal">
                <div class="card-body">
                    {% if part_color_images|length > 0 %}

                        <div class="form-group">
                            <label for="color_select">Color:</label>
                            <div class="dropdown">
                                <select class="btn btn-sm btn-light dropdown-toggle" onchange="colorChange()" id="color_select" name="color_select">
                                    <div class="dropdown-menu">
                                        {% for part_color_image in part_color_images %}
                                            <option value="{{ part_color_image }}"
                                                    {% if loop.index == 1 %}
                                                    selected="selected"
                                                    {% endif %}
                                            >{{ part_color_image.name }}</option>
                                        {% endfor %}
                                    </div>
                                </select>
                            </div>
                        </div>

                    {% endif %}


                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input class="form-control form-control-sm form-spinner" type="number" id="quantity" name="quantity" value="1" min="1" step="1" required/>
                    </div>


                </div>
                <div class="img-square-wrapper">
                    <img id="color_image" src="{{ part_color_images[0].image }}" class="img-thumbnail crop-thumbnail" alt="sheep">
                </div>
            </div>

        </div>

        <div class="card border-0 shadow">
            <div class="card-header">
                Select which set to add to
            </div>
            <table id="radio-table" class="table table-image table-responsive-sm table-condensed table-hover table-bordered mb-0">
                <thead>
                <tr>
                    <th scope="col" style="width: 25px">Image</th>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Complete</th>
                </tr>
                </thead>
                <tbody>
                {% for set in set_list %}
                    <tr onmousedown="RowClick(this,false);">
                        <th hidden>
                            <input required type="radio" name="set_option"  id="{{ set_no }}" value="{{ set.no }}"/>
                        </th>
                        <td>
                            <img src="{{ set.thumbnail_url }}" class="img-fluid img-thumbnail" alt=" ">
                        </td>
                        <td>{{ set.no }}</td>
                        <td>{{ set.name }}</td>
                        <td>{{ set.category }}</td>
                        <td>{{ set.complete }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer">
            <button class="btn btn-primary float-right" type="submit" id="submit_button" disabled>Add part "{{ part_no }}" to selected set</button>
            </div>
        </div>

    </form>

{% endblock %}