{% extends "bootstrap/base.html" %}

{% block title %}
    BrickHoarder
{% endblock %}

{% block styles %}
    {{super()}}


{#    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap" rel="stylesheet">#}
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/mystyle.css">

{% endblock %}

{% block scripts %}

    <script src="/static/js/myscripts.js"></script>
    {{super()}}
{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>
    <main role="main" class="container-lg user-select-auto">
            {% block main %}{% endblock %}
    </main>
    <footer>
            {% include "footer.html" %}
    </footer>
{% endblock content %}