{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Dashboard</h1>
        <div class="row no-gutters">
            <div class="col-6">

                Overview and insight information
            </div>
            <div class="col-6">
                <form class="float-right " action="/home/refresh/" method="post">
                    <button class="btn btn-sm btn-primary" type="submit">Update prices</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if set_price_guides is none and loose_parts_guides is none %}

{#        <div class="d-flex justify-content-center mb-5">#}
{#            <div class="spinner-border" role="status">#}
{#                <strong>Loading...</strong>#}
{#                <span class="sr-only">Loading...</span>#}
{#            </div>#}
{#        </div>#}
        <div class="d-flex align-items-center">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>

    {% else %}

        {% if set_price_guides is not none %}

            {% if set_price_guides|length > 0 %}

                <div class="card border-0 shadow">
                    <div class="card-header bg-light rounded-top">
                        Most valuable complete sets in inventory
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover mb-0" id="searchable_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th class="text-right" scope="col">Average Price (New)</th>
                                <th class="text-right" scope="col">Average Price (Old)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for set in set_price_guides %}
                                <tr onclick="window.location.assign('/set/{{ set.item.no }}');">
                                    <td>{{ set.item.no }}</td>
                                    <td class="fit">
                                        <img src="{{ set.item.thumbnail_url }}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                                    </td>
                                    <td>{{ set.item.name }}</td>
                                    {% if set.avg_price > 0 %}
                                        <td class="text-right">{{ set.currency_code }} {{ "%.2f"|format(set.avg_price) }}</td>
                                    {% else %}
                                        <td class="text-right">N/A</td>
                                    {% endif %}
                                    {% if set.avg_price_used > 0 %}
                                        <td class="text-right">{{ set.currency_code }} {{ "%.2f"|format(set.avg_price_used) }}</td>
                                    {% else %}
                                        <td class="text-right">N/A</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <form action="/home/sets/" method="GET">
                            <button type="submit" class="btn btn-sm btn-primary">View prices for all sets</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <div class="d-flex justify-content-center mb-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <strong class="loading-text">Collecting set data, please be patient.</strong>
            </div>
        {% endif %}

        {% if loose_parts_guides is not none %}
            {% if loose_parts_guides|length > 0 %}

                <div class="card border-0 shadow">
                    <div class="card-header bg-light rounded-top">
                        Most valuable loose parts in 'LEGO Crate'
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover mb-0" id="searchable_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Color</th>
                                <th scope="col">Type</th>
                                <th scope="col" class="text-right">Average Sell Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for part in loose_parts_guides %}
                                <tr onclick="window.location.assign('/set/{{ part.item.set_no }})');">
                                    <td>{{ part.item.no }}</td>
                                    <td class="fit">
                                        <img src="{{ part.item.thumbnail_url }}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                                    </td>
                                    <td>{{ part.item.name }}</td>
                                    <td>{{ part.item.color_name }}</td>
                                    <td>{{ part.item.color_type }}</td>
                                    {% if part.avg_price > 0 %}
                                        <td class="text-right">{{ part.currency_code }} {{ "%.2f"|format(part.avg_price) }}</td>
                                    {% else %}
                                        <td class="text-right">N/A</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <form action="/home/parts/" method="GET">
                            <button type="submit" class="btn btn-sm btn-primary">View prices for all parts</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center mb-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock main %}