{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Dashboard</h1>
        Overview and insight information
    </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if set_price_guides is none and loose_parts_guides is none %}

        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


    {% else %}

        {% if set_price_guides is not none %}
            {% if set_price_guides|length > 0 %}

                <div class="card border-0 shadow">
                    <nav class="navbar navbar-light bg-light rounded-top">
                        Most valuable complete sets in inventory
                    </nav>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover mb-0" id="searchable_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th class="text-right" scope="col">Average Price (New)</th>
                                <th class="text-right" scope="col">Average Price (Old)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for set in set_price_guides %}
                                <tr onclick="window.location.href = '/set/{{ set.item.no }}';">
                                    <td>{{ set.item.no }}</td>
                                    <td class="fit">
                                        <img src="{{ set.item.thumbnail_url }}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                                    </td>
                                    <td>{{ set.item.name }}</td>
                                    <td class="text-right">{{ set.currency_code }} {{ "%.2f"|format(set.avg_price) }}</td>
                                    <td class="text-right">{{ set.currency_code }} {{ "%.2f"|format(set.avg_price_used) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {% endif %}

        {% if loose_parts_guides is not none %}
            {% if loose_parts_guides|length > 0 %}

                <div class="card border-0 shadow">
                    <nav class="navbar navbar-light bg-light rounded-top">
                        Most valuable loose parts in 'LEGO Crate'
                    </nav>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover mb-0" id="searchable_table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Color</th>
                                <th scope="col">Type</th>
                                <th scope="col" class="text-right">Average Sell Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for part in loose_parts_guides %}
                                <tr onclick="window.location.href = '/set/{{ part.item.set_no }}';">
                                    <td>{{ part.item.no }}</td>
                                    <td class="fit">
                                        <img src="{{ part.item.thumbnail_url }}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                                    </td>
                                    <td>{{ part.item.name }}</td>
                                    <td>{{ part.item.color_name }}</td>
                                    <td>{{ part.item.color_type }}</td>
                                    <td class="text-right">{{ part.currency_code }} {{ "%.2f"|format(part.avg_price) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock main %}