{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Dashboard</h1>
        Average resale value of loose parts in inventory
    </div>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if loose_parts_guides is none %}

        <div class="alert alert-info" role="alert">
            <div class="d-flex align-items-center">
                <div class="spinner-grow spinner-grow-sm mr-4" role="status" aria-hidden="true"></div>
                <strong>Fetching updated price data, please be patient...</strong>
            </div>
        </div>

    {% else %}

        {% if loose_parts_guides is not none %}
            {% if loose_parts_guides|length > 0 %}

                <div class="card border-0 shadow">
                    <table class="table table-condensed table-hover mb-0 mydatatable">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Color</th>
                            <th scope="col">Type</th>
                            <th scope="col" class="text-right">Average Sell Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in loose_parts_guides %}
                            <tr onclick="window.location.assign('/set/{{ part.item.set_no }})');">
                                <td>{{ part.item.no }}</td>
                                <td class="fit">
                                    <img src="{{ part.item.thumbnail_url }}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                                </td>
                                <td>{{ part.item.name }}</td>
                                <td>{{ part.item.color_name }}</td>
                                <td>{{ part.item.color_type }}</td>
                                {% if part.avg_price > 0 %}
                                    <td class="text-right">{{ part.currency_code }}{{ "%.2f"|format(part.avg_price) }}</td>
                                {% else %}
                                    <td class="text-right"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info" role="alert">
                <div class="d-flex align-items-center">
                    <div class="spinner-grow spinner-grow-sm mr-4" role="status" aria-hidden="true"></div>
                    <strong>Fetching updated price data, please be patient...</strong>
                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock main %}