{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Inventory</h1>
        Personal LEGO collection
    </div>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="card border-0 shadow">
{#    <div class="border rounded">#}
{#        <nav class="navbar navbar-light bg-light rounded-top">#}
{#            <div class="form-group input-group-sm d-flex mb-0">#}
{#                <input class="form-control" type="search" id="table_search" name="table_search" onkeyup="searchTable()" placeholder="Search">#}
{#            </div>#}
{#        </nav>#}
{#        <div class="table-responsive">#}
            <table class="table table-condensed table-hover mb-0 mydatatable">
                <thead class="thead-light">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Year</th>
                    <th scope="col">Complete</th>
                    <th scope="col">Extras</th>
                </tr>
                </thead>
                <tbody>
                {% for set in set_list %}
                    <tr onclick="window.location.assign('/set/{{ set.no }}'); ">
                        <td>{{ set.no }}</td>
                        <td class="p-1 fit">
                            <img src="{{set.thumbnail_url}}" class="img-fluid img-thumbnail crop-table-lg" alt="sheep">
                        </td>
                        <td>{{ set.name }}</td>
                        <td>{{set.category}}</td>
                        <td>{{set.year_released}}</td>
                        <td>{{set.complete}}</td>
                        <td>{{set.extras}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{#    </div>#}
{#    </div>#}

{% endblock %}