{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron">
        <h3 class="page-header">Showing results for: "{{ search_str }}"</h3>
        {#            Displaying results for Sets, rather search for <a href="/search/part={{ search_str }}" class="text-decoration-none">Parts</a>?#}
        <form method="POST" action="/search">
            <div class="input-group input-group-sm col-sm-10 col-md-6 col-lg-4 px-0">
                <div class="input-group-prepend">
                    <select class="btn btn-secondary dropdown-toggle" name="search_filter">
                        {% if search_filter=="sets" %}
                            <option value="sets" selected="selected">Sets</option>
                            <option value="parts">Parts</option>
                        {% elif search_filter=="parts" %}
                            <option value="sets">Sets</option>
                            <option value="parts" selected="selected">Parts</option>
                        {% endif %}
                    </select>
                </div>
                <input name="no" type="text" class="form-control h-auto" aria-label="Search input with dropdown button" value="{{ search_str }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% for result in results %}
        {% if search_filter=="sets" %}

            <form action="/add_set/{{ result.no }}" method="GET">
                <div class="card">
                    <div class="media">
                        <div class="media-body">
                            <h6>{{ result.no }} - {{ result.name }}</h6>
                            <button type="submit" class="align-self-baseline btn btn-primary float-left media-button">Add to collection</button>
                        </div>
                        <img src="{{ result.image_url }}" class="align-self-center crop ml-3"  alt="sheep">
                    </div>
                </div>
            </form>

        {% elif search_filter=="parts" %}

            <form action="/add_part/{{ result.no }}" method="GET">
                <div class="card">
                    <div class="media">
                        <div class="media-body">
                            <h6>{{ result.no }} - {{ result.name }}</h6>
                            <button type="submit" class="align-self-baseline btn btn-primary float-left media-button">Add to collection</button>
                        </div>
                        <img src="{{ result.thumbnail_url }}" class="align-self-center crop ml-3"  alt="sheep">
                    </div>
                </div>
            </form>

        {% else %}

            Unknown result_type

        {% endif %}
    {% endfor %}

{% endblock %}