{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron">
        <h3 class="page-header">Showing results for: "{{ search_str }}"</h3>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% for result in results %}
        {% if result.type == 'SET' %}
            <form action="/add_set/{{ result.no }}" method="GET">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ result.no }}</h6>
                            <p class="card-text">Category: {{ result.category }}</p>
                        </div>
                        <img src="{{ result.image_url }}" class="img-thumbnail crop" alt="sheep">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Add to collection</button>
                    </div>
                </div>
            </form>

        {% elif result.type == 'PART' %}
            <form action="/add_part/{{ result.no }}" method="GET">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ result.no }}</h6>
                        </div>
                        <img src="{{ result.thumbnail_url }}" class="img-thumbnail crop" alt="sheep">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Add to collection</button>
                    </div>
                </div>
            </form>

        {% else %}

            Unknown result_type

        {% endif %}
    {% endfor %}

{% endblock %}