{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron shadow">
        <h3 class="page-header">Showing results for: "{{ search_str }}"</h3>
    </div>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% if results|length == 0 %}

    {% else %}
    {% for result in results %}
        {% if result.type == 'SET' %}
            <form action="/add_set/{{ result.no }}" method="GET">
                <div class="card border-0 shadow">
                    <div class="card-horizontal">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ result.no }}</h6>
                            <p class="card-text">Category: {{ result.category }}</p>
                        </div>
                        <img src="{{ result.image_url }}" class="img-thumbnail crop" alt="sheep">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Add to collection</button>
                    </div>
                </div>
            </form>

        {% elif result.type == 'PART' %}
            <form action="/add_part/{{ result.no }}" method="GET">
                <div class="card border-0 shadow">
                    <div class="card-horizontal">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ result.no }}</h6>
                        </div>
                        <img src="{{ result.thumbnail_url }}" class="img-thumbnail crop" alt="sheep">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Add to collection</button>
                    </div>
                </div>
            </form>

        {% else %}

            Unknown result_type

        {% endif %}
    {% endfor %}
    {% endif %}

{% endblock %}