{% extends "base.html" %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Guide</h1>
        Most affordable Bricklink listings for all parts required
    </div>


    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    <div class="card border-0 shadow">
        <div class="card-header rounded-top">
            Parts required to complete set
        </div>
        <div class="table-responsive">

            <table class="table table-condensed mb-0" id="searchable_table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Quantity required</th>
                    <th scope="col">Price</th>
                    <th scope="col">Store</th>
                    <th scope="col">Link</th>
                </tr>
                </thead>
                <tbody>

                {% for item in purchase %}
                    <tr>
                        <td>{{ item.part.no }}</td>
                        <td class="fit">
                            <img src="{{item.part.thumbnail_url}}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                        </td>
                        <td>{{ item.part.name }}</td>
                        <td>{{ item.part.color_name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.store_name }}</td>
                        <td><a href="{{ item.url }}">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer">
                <div class="form-inline">
                <form class="mr-4" action="/guide/{{ set_no }}/add" method="POST">
                    <button class="btn btn-primary shadow" type="submit">Make set complete</button>
                </form>
                <form action="/guide/{{ set_no }}/export" method="POST">
                    <button class="btn btn-secondary shadow " type="submit">Export guide</button>
                </form>
                </div>
            </div>
        </div>

    </div>


{% endblock main %}