{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron shadow">
        <h1>Inventory</h1>
        Set overview and information
    </div>

    <div class="card border-0 shadow">
        <div class="card-header">
            <h5 class="mb-0">{{ set_data.no }}: {{ set_data.name }}</h5>
        </div>
        <div class="media">
            <div class="media-body">
                Category: {{ set_data.category }} - {{ set_data.category_id }}<br>
                Year Released: {{ set_data.year_released }}<br>
                Weight: {{ set_data.weight }}g<br>
                Size: {{ set_data.dim_x }} x {{ set_data.dim_y }} x {{ set_data.dim_z }}cm<br>
            </div>
            <img src="{{set_data.image_url}}" class="align-self-center crop ml-3"  alt="sheep">
        </div>
        <div class="card-footer">
            <div class="form-row no-gutters">
                <div class="col">
                {% if not set_data.complete %}
                    <form action="/guide/{{ set_data.no }}" method="POST">
                        <button type="submit" class="btn btn-primary shadow">Get guide for missing parts</button>
                    </form>
                {% endif %}
                </div>
                <div class="col">
                    <form action="/remove_set/{{ set_data.no }}" method='POST'>
                        <button type="submit" class="btn btn-danger float-right shadow">Remove from collection</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


        {% for part in parts_list %}
            <div class="modal fade" id="modal{{ part.no }}_{{ part.color_id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">{{ part.no }} - {{ part.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form  id="form{{ part.no }}_{{ part.color_id }}" action="/set/{{ set_data.no }}" method='POST'>
                            <div class="media">
                                <input hidden name="part_no" id="part_no" value="{{ part.no }}">
                                <input hidden name="set_no" id="set_no" value="{{ set_data.no }}">
                                <input hidden name="color_id" id="color_id" value="{{ part.color_id }}">
                                <div class="media-body">
                                    Alternate: {{ part.is_alternate }}<br>
                                    Counterpart: {{ part.is_counterpart }}<br>
                                    <div class="form-group">
                                        <label for="quantity">Quantity:</label>
                                        <input class="form-control form-control-sm form-spinner" type="number" id="quantity" name="quantity" value="{{ part.owned_quantity }}" min="0" step="1" required/>
                                    </div>
                                </div>
                                <img src="{{ part.thumbnail_url }}" class="img-fluid img-thumbnail align-self-center float-right mx-2"  alt="sheep">
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="submit" form="form{{ part.no }}_{{ part.color_id }}" class="btn btn btn-primary shadow">Save changes</button>
                            {% if part.quantity == 0 %}
                                <form action="/remove_part/{{ part.no }}" method='POST'>
                                    <input hidden name="part_no" id="part_no" value="{{ part.no }}">
                                    <input hidden name="set_no" id="set_no" value="{{ set_data.no }}">
                                    <input hidden name="color_id" id="color_id" value="{{ part.color_id }}">
                                    <button type="submit" class="btn btn-danger shadow">Remove</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="card border-0 shadow">

                <table class="table table-sm table-striped table-hover mb-0 mydatatable" >
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Complete</th>
                        <th scope="col">Extra</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for part in parts_list %}
                        {% if part.owned_quantity < part.quantity %}
                            <tr data-toggle="modal" data-target="#modal{{ part.no }}_{{ part.color_id }}" class="table-danger">
                                {% elif part.owned_quantity < part.quantity + part.extra_quantity %}
                            <tr data-toggle="modal" data-target="#modal{{ part.no }}_{{ part.color_id }}" class="table-warning">
                                {% else %}
                            <tr data-toggle="modal" data-target="#modal{{ part.no }}_{{ part.color_id }}">
                        {% endif %}
                    <td scope="row">{{ part.no }}</td>
                    <td class="fit">
                        <img src="{{part.thumbnail_url}}" class="img-fluid img-thumbnail crop-table" alt="sheep">
                    </td>
                    <td>{{ part.name }}</td>
                    <td>{{ part.owned_quantity }}</td>
                    <td>{{ part.quantity }}</td>
                    <td>{{ part.extra_quantity }}</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>


{% endblock %}