body {
    padding-top: 86px   ;
}

.media-body {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.media-button {
    position: absolute;
    bottom: 12px;
}

.card {
    margin-bottom: 32px;
}

.jumbotron {
    padding: 2rem;
}

.crop {
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-height: 160px;
    max-width: 240px;
}

.navbar-form .form-group input {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 480px) {
   .crop {
        object-fit: scale-down; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        max-height: 120px;
        max-width: 160px;
    }
}

@media (max-width: 992px) {
   .container {
      width: 100%;
   }
}