body {
    padding-top: 86px   ;
    font-family: 'Poppins', sans-serif;
}

.navbar-form .form-group input {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: top;
}

.selected {
    background: #e2e6ea;
}

.media-body {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.media-button {
    position: absolute;
    bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.form-spinner {
    max-width: 8rem;
}

.jumbotron {
    padding: 2rem;
}

.crop-thumbnail{
    margin: 1rem;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 6rem;
    width: 6rem;
}

.crop {
    margin: 1rem;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 10rem;
}


@media only screen and (max-width: 786px) {
   .crop {
        margin: .5rem;
        object-fit: scale-down; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        max-height: 6rem;
        max-width: 6rem;
    }
}

@media only screen and (max-width: 786px) {
   .container {
      width: 100%;
   }
}