html {
    font-size: 14px;
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    padding-top: 5.5rem   ;
}

p {
    max-width: fit-content;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/*.jumbotron {*/
/*    padding: 2rem;*/
/*}*/

.navbar-form .form-group input {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: top;
}

.selected {
    background: #e2e6ea;
}

.media-body {
    padding: 1rem;
}

.media-button {
    position: absolute;
    bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.card-body {
    padding: 1rem;
}

.form-spinner {
    max-width: 8rem;
}

.table-responsive {
    overflow-y: hidden;
}

.table td {
    vertical-align: middle;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
    padding: 0.25rem;
}

.crop-table{
    margin: 0;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: inherit;
}

.crop-thumbnail{
    margin: 1rem;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 6rem;
    width: 6rem;
}

.crop {
    margin: 1rem;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 10rem;
}


@media only screen and (max-width: 786px) {
   .crop {
        margin-left: 0;
        object-fit: scale-down; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        max-height: 6rem;
    }

}