html {
    font-size: 14px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*min-height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
    position: relative;
}

main {
    padding-top: 4.5rem;
     min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 6rem; /* height of your footer */
}

footer {
     position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    max-width: fit-content;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.jumbotron {
    padding: 2rem;
    margin-bottom: 1rem;
}

.loading-text {
    align-self: center;
}

.footer {
    margin-top: 1rem;
    padding-top: 1rem;
    height: 6rem;

}

.navbar-form .form-group input {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: top;
}

.selected {
    background: #e2e6ea;
}

.media-body {
    padding: 1rem;
}

.media-button {
    position: absolute;
    bottom: 1rem;
}

.card {
    opacity: 90%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin-bottom: 1rem;
}

.card-deck {
    margin-bottom: 3rem;
}

.card-body {
    padding: 1rem;
}

.form-spinner {
    max-width: 8rem;
}

.table-responsive {
    overflow-y: hidden;
}

.table td {
    vertical-align: middle;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
    padding: 0.25rem;
}

.crop-card {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
}

.crop-table{
    margin: 0;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: inherit;
    max-width: 4rem;
}

.crop-table-lg{
    margin: 0;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: inherit;
    max-width: 6rem;
}

.crop-thumbnail{
    margin: 1rem;
    object-fit: scale-down; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 6rem;
    width: 6rem;
}

.crop {
    margin: 1rem;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 10rem;
}


@media only screen and (max-width: 786px) {
   .crop {
        margin-left: 0;
        object-fit: scale-down; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        max-height: 6rem;
    }
}