{% extends "base.html" %}

{% block main %}

    <div class="jumbotron">
        <h3>Adding part "{{ set_no }}" to inventory</h3>
        Please review criteria below for part specification
    </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <!--<div class="container">-->
    <form action="/add_set/{{ set_no }}" method='POST'>
        <div class="card">
            <div class="card-header">
                Select part criteria
            </div>
                <div class="media">
                    <div class="media-body">
                        <div class="form-group">
                            <label for="color_select">Color:</label>
                            <div class="dropdown">
                                <select class="btn btn-sm btn-light dropdown-toggle" onchange="colorChange()" id="color_select" name="color_select">
                                    <div class="dropdown-menu">
                                        {% for part_color_image in part_color_images %}
                                            <option value="{{ part_color_image.image }}"
                                                    {% if loop.index == 1 %}
                                                    selected="selected"
                                                    {% endif %}
                                            >{{ part_color_image.name }}</option>
                                        {% endfor %}
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input class="form-control form-control-sm form-spinner" type="number" id="quantity" name="quantity" value="1" min="0" step="1" required/>
                        </div>
                    </div>
                    <img id="color_image" src="{{ part_color_images[0].image }}" class="align-self-center crop"  alt="sheep">
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Select which set to add to
            </div>
            <table class="table table-image table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width: 25px">Image</th>
            </tr>
            </thead>
            <tbody>
            {% for part_color_image in part_color_images %}
                <tr>
                    <td scope="row">{{ part_color_image.name }}</td>
                    <td class="" >
                        <img src="{{ part_color_image.image }}" class="img-fluid img-thumbnail" alt="sheep">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </form>

{% endblock %}