{% extends "base.html" %}

{% block main %}

    <div class="jumbotron">
        <h3>Adding set "{{ set_no }}" to inventory</h3>
    </div>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    <!--<div class="container">-->
    <form action="/add_set/{{ set_no }}" method='POST'>
        <table class="table table-image table-condensed table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" style="width: 25px">Image</th>
            </tr>
            </thead>
            <tbody>
            {% for part_color_image in part_color_images %}
                <tr>
                    <th scope="row">{{ part_color_image.name }}</th>
                    <td class="" >
                        <img src="{{ part_color_image.image }}" class="img-fluid img-thumbnail" alt="sheep">
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}