{% extends "bootstrap/base.html" %}

{% block title %}
    BrickHoarder
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='myscripts.js') }}"></script>
    {{super()}}
{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>
    <main role="main" class="container">
            {% block main %}{% endblock %}
    </main>
    <footer>
            {% include "footer.html" %}
    </footer>
{% endblock content %}