{% extends "bootstrap/base.html" %}

{% block title %}BrickHoarder{% endblock %}
{% block styles %}
{{super()}}
{#  <link rel="stylesheet" href="{{url_for('.static', filename='simplex.css')}}">#}
{#     <link rel="stylesheet" href="./static/simplex.css">#}
{% endblock %}

{% block content %}
    <header>
        {% include "navbar.html" %}
    </header>
    <main>
            {% block main %}{% endblock %}
    </main>
    <footer>
            {% include "footer.html" %}
    </footer>
{% endblock content %}