{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1 class="page-header">{{ set_data.no }} {{ set_data.name }}</h1>


  <p>Type: {{ set_data.type }} <br>
    Year: {{ set_data.year_released }} <br>
    Category ID: {{ set_data.category_id }} <br>
    Weight: {{ set_data.weight }} <br>
    X: {{ set_data.dim_x }}, Y: {{ set_data.dim_y }}, Z: {{ set_data.dim_z }}
  </p>
  <img src={{set_data.image_url}}><img> <br>
  <button onclick="window.location.href = '/remove_set/{{ set_data.no }}';" class="btn btn-danger">Remove from collection</button>
</div>
{% endblock %}