{% extends "base.html" %}

{% block main %}
<div class="container">
  <h1 class="page-header">My LEGO Collection</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

<!--  <div class="container">-->
      <div class="row">
        <div class="col-12">
            <table class="table table-image table-condensed table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Year</th>
                  <th scope="col">Category ID</th>
                </tr>
              </thead>
              <tbody>
              {% for set in set_list %}
                <tr onclick="window.location.href = '/set/{{ set.no }}';">
                  <th scope="row">{{ set.no }}</th>
                  <td class="w-25">
                      <img src={{set.thumbnail_url}} class="img-fluid img-thumbnail" alt="sheep">
                  </td>
                  <td>{{ set.name }}</td>
                  <td>{{set.year_released}}</td>
                  <td>{{set.category_id}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
<!--  </div>-->
</div>


{% endblock %}