{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron">
        <h3 class="page-header">Showing results for: "{{ search_str }}"</h3>
        {% block filter %}{% endblock %}
    </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block result %}{% endblock %}

{% endblock %}