{% extends 'base.html' %}

{% block main %}

    <div class="jumbotron">
        <h1>Inventory</h1>
        Set overview and information
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">{{ set_data.no }}: {{ set_data.name }}</h5>
        </div>
        <div class="media">
            <div class="media-body">
                <h6>Set info:</h6>
                Category: {{ set_data.category }} - {{ set_data.category_id }}<br>
                Year Released: {{ set_data.year_released }}<br>
                Weight: {{ set_data.weight }}g<br>
                Size: {{ set_data.dim_x }} x {{ set_data.dim_y }} x {{ set_data.dim_z }}cm<br>
            </div>
            <img src="{{set_data.image_url}}" class="align-self-center crop ml-3"  alt="sheep">
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="form-group input-group-sm d-flex mb-0">
                <input class="form-control" type="search" id="table_search" name="table_search" onkeyup="searchTable()" placeholder="Search">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-striped" id="searchable_table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Color "Code"</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Alternate</th>
                    <th scope="col">Counterpart</th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts_list %}
                    <tr data-toggle="modal" data-target="#modal{{ part.no }}_{{ part.color_id }}">
                        <td scope="row">{{ part.no }}</td>
                        <td class="fit"><img src="{{ part.thumbnail_url }}" alt=" " class="img-fluid img-thumbnail"></td>
                        <td>{{ part.name }}</td>
                        <td>{{ part.color_name }} "{{ part.color_code }}"</td>
                        {% if part.owned_quantity < part.quantity %}
                            <td class="text-danger">{{ part.owned_quantity }}</td>
                        {% elif part.owned_quantity < part.quantity + part.extra_quantity %}
                            <td class="text-warning">{{ part.owned_quantity }}</td>
                        {% else %}
                            <td>{{ part.owned_quantity }}</td>
                        {% endif %}
                        <td>{{ part.is_alternate }}</td>
                        <td>{{ part.is_counterpart }}</td>
                    </tr>

                    <div class="modal fade" id="modal{{ part.no }}_{{ part.color_id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">{{ part.no }} - {{ part.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="media">
                                    <form action="/set/{{ set_data.no }}" method='POST'>
                                        <input hidden name="part_no" id="part_no" value="{{ part.no }}">
                                        <input hidden name="set_no" id="set_no" value="{{ set_data.no }}">
                                        <input hidden name="color_id" id="color_id" value="{{ part.color_id }}">
                                        <div class="media-body">
                                            Alternate: {{ part.is_alternate }}<br>
                                            Counterpart: {{ part.is_counterpart }}<br>
                                            <div class="form-group">
                                                <label for="quantity">Quantity:</label>
                                                <input class="form-control form-control-sm form-spinner" type="number" id="quantity" name="quantity" value="{{ part.owned_quantity }}" min="0" step="1" required/>
                                            </div>
                                        </div>
                                        <img src="{{ part.thumbnail_url }}" class="img-fluid img-thumbnail align-self-center mx-2"  alt="sheep">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                    <form action="/remove_part/{{ part.no }}" method='POST'>
                                        <input hidden name="part_no" id="part_no" value="{{ part.no }}">
                                        <input hidden name="set_no" id="set_no" value="{{ set_data.no }}">
                                        <input hidden name="color_id" id="color_id" value="{{ part.color_id }}">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <form action="/remove_set/{{ set_data.no }}" method='POST'>
        <button type="submit" class="btn btn-danger">Remove from collection</button>
    </form>

{% endblock %}